/* BEGIN hero */
.header {
 &-sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  .navigation {
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
  }
  .navbar .lang-switcher-nav.dropdown-menu {
    top: 16px;
  }
}
}

.page-header  {
  position: relative;
  padding: 60px 0px;
  @include theme(dark);
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  
  h1 {
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 900;
    @include mobile {
      font-size: 32px;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 120%;
    font-weight: 500;
    line-height: 1.3;
    @include mobile { 
      font-size: 110%;
    }
  }

}
/* END hero */

.page-wrapper  {
  padding: 70px 0;
}

// Search Form
.search {
  &_toggle  {
    cursor: pointer;
    position: relative;
  }
  &-wrap  {
    position: relative;
    top: 20px;
    right: 16px;
    z-index: 1200;
    display: inline-block;
    float: right;
  }

  &-close {

    position: absolute;
    top: 20px;
    right: 20px;
    left: auto;

    font-size: 22px;
    color: $white;
    
  }

}

.overlay  {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: opacity .35s, visibility .35s, height .4s;
  opacity: 0;
  background: rgba($black,0.98);
  &.open  {
    visibility: visible;
    height: 100%;
    opacity: 1;
  }

  .search-form  {
    position: relative;
    height: 100%;
    @include flex(nowrap, center, center, flex);
    input  {
      font-size: 24px;
      color: $white;
      border: none;
      border-bottom: 1.5px solid lighten($blueBg, 5%);
      background: transparent;
    }

  }

}


.toggle-wrap {
  .active  {
    z-index: 10000;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: opacity .25s ease;
  }
}

