{{ $pagesGames := first 40 (where .Site.RegularPages "Type" "game") }}



<section class="slider-wrap">
  <div class="row align-items-center justify-content-between mb-3 px-2">
    <h4 class="my-0"> 
      <small class="miw-25 ti-flag-alt color-main"></small> 
      {{ i18n "txt6" }} 
    </h4>
    <div class="slider-nav">
      <button rel="prev" type="button" class="prev"><i class="ti-angle-left"></i></button>
      <button rel="next" type="button" class="next"><i class="ti-angle-right"></i></button>
    </div>
  </div>
  <!-- slider games -->
  <div class="slider-games-cat row"> 

   {{ $gameCategories := slice }}
   {{ $gameCategory := slice }}

   {{ range $pagesGames }}
   {{ range .Params.games }} 

   {{ $gameCategories = $gameCategories | append . }} 


   {{ end }}
   {{ end }}

   {{ $gameCategories = uniq $gameCategories | sort }}
   {{ range $gamesNumb, $cat := $gameCategories }}
   {{ $gameCategory := . }}
   <div class="col-lg-3 col-12 col-md-6 col-sm-6">
    <div class="product mb-0">
      <div class="product-wrap">

        <a class="product-content product-cat" href="{{ `games/` | relLangURL }}{{ . | urlize }}/" rel="tag">
          <div class="product-info">
           <div class="tag-logo">
             <i class="ti-game"></i>
           </div>
           <h2 class="product-title mb-0 mt-2"> {{ . | title | humanize }} </h2>
           <nav class="tags">                
            <span class="tag"> 
             {{ $gamesCount := slice }}
             {{ range  first 40  $pagesGames }}
             {{ if (in .Params.games $gameCategory) }}
             {{ $gamesCount = $gamesCount | append $gamesNumb }}
             {{ end }}
             {{ end }}
           {{ (len $gamesCount) }} 
           </span>
         </nav>
       </div>    
     </a>

     <a class="product-hover-overlay" href="{{ `games/` | relLangURL }}{{ . | urlize }}/">
      <span class="snipcart-add-item" >
        <i class="ti-control-forward"></i>
      </span>
    </a>

  </div>

</div>
</div> 

{{ end }}


</div>
</section>

<div class="mt-4 pt-1 mx-auto text-center">
 <a href="{{ `/games/` | relLangURL | urlize }}" class="btn btn-text"> {{ i18n "txt7" }} <small class="ti-angle-right d-none"></small>
 </a>
</div>