<!-- BEGIN news sidebar -->
<div class="banner-square mb-1">

</div>
      <div class="row">
       <article class="col-sm-6 col-md-12 col-lg-12">
        <h2 class="box-sidebar-title mt-4 mb-2">

         {{ i18n "txt19" }}

          </h2>
        {{ range first 4 (where .Site.RegularPages "Type" "news") }}
        {{ if (in .Params.categories "news") }}
        <div class="box-inline my-3">

          <a href="{{ .Permalink }}" class="box-inline-pic d-none d-sm-block col-lg-3 col-12">
            <img src="{{ .Params.feature }}" alt="{{ .Params.title }}">
    <!-- <hgroup>
      <small>{{ .Lastmod.Format "01/02/06" }}</small>
      <span>{{ .Lastmod.Format "15:04" }}</span>
    </hgroup> -->
  </a>
  <a href="{{ .Permalink }}" class="box-inline-content  col-lg-9 col-12 px-0 py-2 py-lg-0 pl-lg-3">
   <span class="box-meta"> 
     {{ range first 1 .Params.categories }} <b class="text-uppercase"> {{ . }} </b>{{end }} |
     <b>{{ .Lastmod.Format "2006-01-02 15:04" }}</b>
   </span>
   <h3 class="box-inline-title"> {{ .Params.title | truncate 50 }} </h3>
   <p> {{ .Summary | truncate 100 }} <span class="box-more-text">Read more</span> </p> 

 </a>
</div>
{{ end }}
{{ end }}
</article>

<article class="col-sm-6 col-md-12 col-lg-12">
  <h2 class="box-sidebar-title mt-4 mb-2"> 
  
{{ i18n "txt20" }} 

</h2>
  {{ range first 4 (where .Site.RegularPages "Type" "news") }}
  {{ if (in .Params.categories "blog") }}
  <div class="box-inline flex-wrap my-3">

    <a href="{{ .Permalink }}" class="box-inline-pic d-none d-sm-block col-lg-3 col-12">
      <img src="{{ .Params.feature }}" alt="{{ .Params.title }}">
   <!--  <hgroup>
      <small>{{ .Lastmod.Format "01/02/06" }}</small>
      <span>{{ .Lastmod.Format "15:04" }}</span>
    </hgroup> -->
  </a>
  <a href="{{ .Permalink }}" class="box-inline-content col-lg-9 col-12 px-0 py-2 py-lg-0 pl-lg-3">
   <span class="box-meta"> 
     {{ range first 1 .Params.categories }} <b class="text-uppercase"> {{ . }} </b>{{end }} |
     <b>{{ .Lastmod.Format "2006-01-02 15:04" }}</b>
   </span>
   <h3 class="box-inline-title"> {{ .Params.title | truncate 50 }} </h3>
   <p> {{ .Summary | truncate 100 }} <span class="box-more-text"> {{ i18n "btn-read-more" }} </span> </p> 

 </a>
</div>
{{ end }}
{{ end }}
</article>
</div>

<!-- END news sidebar -->
