<!-- BEGIN provider card -->

<figure class="provider-card">
	<figcaption>
		<div class="provider-card-feature">
			<img src="{{ `/images/providers/`| relURL}}{{ . | urlize }}.png" alt="{{ . | title }}"> 
			
			<!-- <span>
				{{ . }}
			</span> -->
			
		</div>
		<div class="provider-card-tags">
			
			<small class="tag">
				{{ i18n "bonuses" }}: 
				<b> 
					CCC
				</b>
			</small>
			<small class="tag">
				{{ i18n "casinos" }}: <b> AAA </b>
			</small>
			
		</div>
		<div class="provider-card-content">
			
			
			<!--<h2>
				{{ . }}

			</h2>-->

			

			<small> {{ i18n "txt18" }}: </small><b> BBB </b>
			
			
		</div>
		
	</figcaption>
</figure>

<!-- END provider card -->