<!-- BEGIN shared -->

	<div class="soc social_share-block">
		<button class="soc-icon social_share" data-type="fb" title="Facebook">
			<i class="flaticon-facebook"></i>
		</button>
		<button class="soc-icon social_share" data-type="twitter" title="Twitter">
			<i class="flaticon-twitter"></i>
		</button>
		<!-- <button class="soc-icon social_share" data-type="reddit" title="Reddit">
			<i class="flaticon-reddit"></i>
		</button> -->
		<button class="soc-icon social_share" data-type="skype" title="Skype"> 
			<i class="flaticon-skype"></i>
			
		</button>
		<button class="soc-icon social_share" data-type="telegram" title="Telegram"> 
			<i class="flaticon-telegram"></i>

		</button>
		<!-- <button class="soc-icon social_share" data-type="whatsapp" title="Whatsapp"> 
			<i class="flaticon-whatsapp"></i>
		</button> -->
		<!-- <button class="soc-icon social_share" data-type="viber" title="Viber"> 
			<i class="flaticon-viber"></i>
		</button> -->
		<button class="soc-icon social_share" data-type="email" title="Email"> 
			<i class="flaticon-email"></i>

		</button>
	</div>
<!-- END shared -->

