<!-- BEGIN shared -->
<section class="social_share-block">
	<b class="heading-6 text-uppercase my-0"> {{ i18n "shared" }}: </b>

	<div class="social_share-wrap">
		<button class="social_share" data-type="fb" title="Facebook"> Facebook </button>
		<button class="social_share" data-type="twitter" title="Twitter"> Twitter </button>
		<button class="social_share" data-type="reddit" title="Reddit"> Reddit </button>
		<button class="social_share" data-type="skype" title="Skype"> Skype </button>
		<button class="social_share" data-type="telegram" title="Telegram"> Telegram </button>
		<button class="social_share" data-type="whatsapp" title="Whatsapp"> Whatsapp </button>
		<button class="social_share" data-type="viber" title="Viber"> Viber </button>
		<button class="social_share" data-type="email" title="Email"> Email </button>
	</div>
</section>
<!-- END shared -->

<!-- <script src="{{ `plugins/js-share/src/jsshare.js` | relURL }}"></script> -->